body{
    background-color:rgb(189, 218, 233);
    padding: 0;
    margin: 0;
}

.header{
    background-color: blue;
    display: block;
    height: 50px;
    padding-top: 20px;
    padding-left: 35px;
}

.header h{
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}

.new_task{
    background-color: #fff;
    display: block;
    align-content:center;
    width: 350px;
    height: 100px;
    border-radius: 7px;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 10px 1px 3px rgba(1,0,0,0.1);
    list-style-type: none;
    margin-left: 50px;
    margin-top: 50px;
}

.new_task label{
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.new_task input{
    text-align: start;
    width: 200px;
    border: 1px solid #ccc;
    color: rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 1px 3px rgba(1,0,0,0.1);
}

.new_task button{
    background-color: blue;
    color: #fff;
    text-align: center;
    width: 100px;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 1px 3px rgba(1,0,0,0.1);
}

.tasks_blok{
    display: flex;
    padding-top: 15px;
}


.tasks li{
    background-color: #fff;
    border: 1px solid #ccc;
    border-left: 5px solid blue;
    border-radius: 7px;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 10px 1px 3px rgba(1,0,0,0.1);
    list-style-type: none;
}

.tasks button{
    background-color: red;
    text-align: center;
    width: 150px;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 10px;
    margin: 10px 0;
    margin-left: 80px;
    box-shadow: 0 1px 3px rgba(1,0,0,0.1);
}

.tasks label{
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 5px;
    margin: 10px 0;
    margin-left: 40px;
    box-shadow: 10px 1px 3px rgba(1,0,0,0.1);
    list-style-type: none;
}

.taskBlock label{
    background-color:   gray;  
}

.taskBlock li{
    border-left: 5px solid gray;

}



.list_blogack label{
    background-color: gray;  
}

.list_blogack li{
    border-left: 5px solid gray;
}

 

.list_in_progress label{
    background-color: blue;  
}

.list_in_progress li{
    border-left: 5px solid blue;
}


.list_ready label{
    background-color:   green;  
}

.list_ready li{
    border-left: 5px solid green;

}


.list_garbage label{
    background-color:   red;  
}

.list_garbage li{
    border-left: 5px solid red;

}
.new_task button:hover {
    color: black;
    background-color: rgb(210, 26, 26);
    box-shadow: 0 1px 3px rgba(1,0,0,0.1);
}

.new_task button:active {
    color: #0077ff;
}


.tasks button:hover {
    color: black;
    background-color:blue;
    box-shadow: 0 1px 3px rgba(1,0,0,0.1);
}

.tasks button:active {
    color: red;
} 

.task-element {
    background-color: #f4f4f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }